- name: Add natesales apt repo
  apt_repository:
    repo: deb [trusted=yes] https://repo.natesales.net/apt /
    state: present

- name: Add fosshost fury apt repo
  apt_repository:
    repo: deb [trusted=yes] https://fury.fossho.st/apt /
    state: present
    filename: fosshost

- name: Add apt repo for bird
  apt_repository:
    repo: deb http://deb.debian.org/debian/ sid main
    state: present

- name: Set default release
  copy:
    content: APT::Default-Release "buster";
    dest: /etc/apt/apt.conf.d/default-release

- name: Install BIRD2 from sid
  apt:
    update_cache: true
    name: bird2
    default_release: sid

- name: Install packages
  apt:
    update_cache: yes
    install_recommends: false
    pkg:
      - qemu-system
      - qemu-system-arm
      - qemu-efi
      - libvirt-clients
      - libvirt-daemon-system
      - cloud-image-utils
      - virtinst
      - bridge-utils
      - ebtables
      - bcg
      - tayga
      - libvirt-sshd
      - python3-pip
      - git
      - haproxy
      - iptables-persistent
      - fosshost-hydrogen
      - fosshost-beryllium
