[Unit]
Description=Kangaroo
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kangaroo -c /etc/kangaroo.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
