[Unit]
Description=Prometheus node exporter
After=network.target

[Service]
Type=simple
ExecStart=bash -c '/usr/bin/node_exporter --web.listen-address="[$(cat /etc/wireguard/wg0.conf | grep Address | cut -d " " -f 3 | cut -d "/" -f 1)]:9100"'
Restart=on-failure

[Install]
WantedBy=multi-user.target
