[Unit]
Description=aarch64-spy
After=network.target

[Service]
Type=simple
Restart=always
User=aarch64
Group=aarch64
WorkingDirectory=/home/aarch64/spy
ExecStart=/usr/local/bin/gunicorn aarch64:app
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
